body {
    font-family: Arial;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

button {
    border: 0;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    background-color: var(--tg-theme-secondary-bg-color);
    color: green;
}

button:hover {
    background: green;
}

input {
    width: 70%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid silver;
    border-radius: 5px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

input:focus {
    border-color: MediumAquamarine;
}

textarea {
    width: 70%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid silver;
    border-radius: 5px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

textarea:focus {
    border-color: MediumAquamarine;
}

select {
    width: 72%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid silver;
    border-radius: 5px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

select:focus {
    border-color: MediumAquamarine;
}
