body {
    font-family: Arial;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

button {
    border: 0;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: deepskyblue;
    background: indeedred;
}

button:hover {
    background: green;
}
